SIYUAN_ACCESS_AUTH_CODE=changeme
SIYUAN_PORT=6806

HUGO_PORT=1313
HUGO_BASE_URL=http://localhost:1313/
HUGO_TITLE=My Blog
HUGO_LANGUAGE_CODE=en
HUGO_POLL_INTERVAL=700ms
HUGO_THEME_GIT=
HUGO_THEME=
HUGO_GIT_REPO_URL=
HUGO_GIT_BRANCH=main
HUGO_GIT_TOKEN=
HUGO_GIT_POLL_INTERVAL=5
